
body {
    margin: 0;
    font-family: Blacker Sans Pro;
    
}

:root{
--primary:#a02514;
--primary-tint:#ffa05b;
--light:#fff;
--light: #ffffff;
--dark: #363029;
--muted: #e8e6e5;
--muted-tint: #f8f6f5;
--muted-shade: #c8c6c5;
--font-normal:Blacker Sans Pro;
--space-0: 0;
--space-1: 0.5rem;
--space-2: 1rem;
--space-3: 2rem;
--shadow-dark: 0 0.1rem 0.2rem 0.1rem rgba(54, 48, 41, 0.2);
--shadow-light: 0 0.1rem 0.2rem 0.1rem rgba(255, 255, 255, 0.5);
}




header {
    position: relative;
    height: 600px;
    background-color: #000043;
    overflow: hidden;
    border-radius: 0 0 20% 20%;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: #fff;
}

nav a{
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.dropdown .link1 a:link, a:visited {
  background-color: #000043;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
}

.dropdown .link1 a:hover, a:active {
  background-color: #145da0;
}


.dropbtn {
  background-color: #000043;
  color: white;
  padding: 14px  25px;
  font-size: 16px;
  border-radius:5px;
  margin: 10px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #145da0;
}

.dropdown-content a {
  color: #fff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #142ea0;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #145da0;}


.banner {
    font-size: 20px;
    text-align: center;
    padding: 130px;
    color: #fff;
}

.btn {
    display: inline-block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 70px;
    font-family: Blacker Sans Pro;
    text-align: center;
    text-decoration: none;
    color: #262626;
    border-radius: 5px;
    background-color: var(--primary);
    color: var(--light);
}

.slider {
    width: 100%;
    height:600px;
    overflow: hidden;
    display: block;
    margin-top: 100px;
    margin-bottom: 100px;
}

figure{
    position: relative;
    left: 0;
    width: 400%;
    animation: 10s slide infinite;
}

.slide{
    position: relative;
    width: 25%;
    float: left;

}

.slide img{
    width: 100%;
    height: 500px;
}


@keyframes slide{
    0%{
        left: 0;
    }
    10%{
        left: 0;
    }
    20%{
        left: -100%;
    }
    30%{
        left: -100%;
    }
    40%{
        left: -200%;
    }
    50%{
        left: -200%;
    }
    55%{
        left: -300%;
    }
    65%{
        left: -300%;
    }
    66%{
        left: -200%;
    }
    74%{
        left: -200%;
    }
    75%{
        left: -100%;
    }
    85%{
        left: -100%;
    }
    90%{
        left: 0%;
    }
    100%{
        left:0;
    }
}
/*in the index*/


.container {
  position: relative;
  max-width: 800px; /* Maximum width */
  margin: 0 auto; /* Center it */
}

.container .content {
  position: absolute; /* Position the background text */
  bottom: 0; /* At the bottom. Use top:0 to append it to the top */
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1; /* Grey text */
  width: 100%; /* Full width */
  padding: 20px; /* Some padding */
}

@media (max-width: 600px) {
    .banner{
        padding: 30px;  
    }
    .logo{
        font-size: 18px;
    }
    nav a{
        font-size: 10px;
    }
}


.container .intro {
    font-size: 45px;
    text-align: center;
}


.container .explain {
    font-size: 30px;
}

/*Teachers profiles*/

.button {
  border: none;
  color: white;
  background-color: #a02514;
  text-align: center;
  width: 100%;
  display: block;
  font-size: 30px;
  padding: 16px 32px;
  font-family: Blacker Sans Pro;
  border-radius: 15px;
}

.button:hover {
  background-color: #ffa05b;
  color: black;
}

.container .text{
    font-size: 30px;
}

.container .text a{
    text-decoration: none;
    color: #fff;
}

.container:hover .text a{
   color: black; 
}
/*profile ish*/


.containerG{
    display: grid;
    column-gap: 50px;
    margin: 50px;
    margin-bottom: 150px;
    grid-template-columns: repeat(3, 1fr);
}

.containerI {
position: relative;
width: 100%;
margin: 0;
padding: 0;
display: block;
}


.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
    display: block;
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.containerI h1{
    text-align: center;
    font-family: var(Blacker Sans Pro);
    font-size: 60px;
}
.containerI:hover .image {
  opacity: 0.3;
}

.containerI:hover .middle {
  opacity: 1;
  font-size: 70px;
}

.text .btn {
    display: block;
  background-color: #a02514;
  color: white;
  font-size: 30px;
  padding: 16px 32px;
  font-family: Blacker Sans Pro;
  border-radius: 15px;
}

.text:hover .btn {
  background-color: #ffa05b;
  color: black;
}



/*shadow box courses*/

.containerF{
    display: grid;
    column-gap: 50px;
    margin: 10px;
    margin-bottom: 150px;
    grid-template-columns: repeat(4, 1fr);
}
.container {
  position: relative;
  box-shadow: 5px 10px 18px #888888;
}

.container h1 {
    text-align: center;
}
.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
    display: block;
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
  font-size: 70px;
}

.text .btn {
    display: block;
  background-color: #a02514;
  color: white;
  font-size: 30px;
  padding: 16px 16px;
  font-family: Blacker Sans Pro;
  border-radius: 15px;
}

.text:hover .btn {
  background-color: #ffa05b;
  color: black;
}

/*footer*/

footer {
    background-color: #000043;
}

.footer {
   left: 0;
   bottom: 0;
   width: 100%;
   padding: 30px;
   background-color: #000043;
   color: white;
   text-align: center;
    display: block;
    unicode-bidi: isolate;

}

.footer .socialIcons a i{
   color: #fff;
   font-size: 30px;
   text-decoration: none;
   margin: 10px;
   margin-bottom: 25px;
  
}


.footerNav ul{
    display: flex;
    justify-content: center;
}

.footerNav ul li a{
   color: #fff;
   margin: 30px;
   text-decoration: none;
   font-size: 1.rem;
}

.footer .copyright {
    width: 100%;
    text-align: center;
    margin-top: 100px;
    
}

/*contact form*/
h3 {
    text-align: center;
    font-size: 30px;
    font-family: Blacker Sans Pro;
}
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #a02514;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #ffa05b;
  color: black;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  margin-top: 100px;
  margin-bottom: 150px;
  padding: 50px;

  
}



