
body {
    margin: 0;
    font-family: Blacker Sans Pro;
}

:root{
--primary:#a02514;
--primary-tint:#ffa05b;
--light:#fff;
--light: #ffffff;
--dark: #363029;
--muted: #e8e6e5;
--muted-tint: #f8f6f5;
--muted-shade: #c8c6c5;
--font-normal: Blacker Sans Pro;
--font-heading: Blacker Sans Pro;
--space-0: 0;
--space-1: 0.5rem;
--space-2: 1rem;
--space-3: 2rem;
--shadow-dark: 0 0.1rem 0.2rem 0.1rem rgba(54, 48, 41, 0.2);
--shadow-light: 0 0.1rem 0.2rem 0.1rem rgba(255, 255, 255, 0.5);
}




header {
    position: relative;
    height: 600px;
    background-color: #000043;
    overflow: hidden;
    border-radius: 0 0 20% 20%;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: #fff;
}

nav a{
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.banner {
    font-size: 20px;
    text-align: center;
    padding: 130px;
    color: #fff;
}

.btn {
    display: inline-block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    color: #262626;
    border-radius: 5px;
    background-color: var(--primary);
    color: var(--light);
}

.slider {
    width: 100%;
    height:600px;
    overflow: hidden;
    display: block;
}

figure{
    position: relative;
    left: 0;
    width: 400%;
    animation: 10s slide infinite;
}

.slide{
    position: relative;
    width: 25%;
    float: left;

}

.slide img{
    width: 100%;
    height: 500px;
}


@keyframes slide{
    0%{
        left: 0;
    }
    10%{
        left: 0;
    }
    20%{
        left: -100%;
    }
    30%{
        left: -100%;
    }
    40%{
        left: -200%;
    }
    50%{
        left: -200%;
    }
    55%{
        left: -300%;
    }
    65%{
        left: -300%;
    }
    66%{
        left: -200%;
    }
    74%{
        left: -200%;
    }
    75%{
        left: -100%;
    }
    85%{
        left: -100%;
    }
    90%{
        left: 0%;
    }
    100%{
        left:0;
    }
}
/*in the index*/

.container {
  position: relative;
  max-width: 800px; /* Maximum width */
  margin: 0 auto; /* Center it */
}

.container .content {
  position: absolute; /* Position the background text */
  bottom: 0; /* At the bottom. Use top:0 to append it to the top */
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1; /* Grey text */
  width: 100%; /* Full width */
  padding: 20px; /* Some padding */
}

@media (max-width: 600px) {
    .banner{
        padding: 30px;  
    }
    .logo{
        font-size: 18px;
    }
    nav a{
        font-size: 10px;
    }
}


.intro1 h1{
    font-size: 60px;
    text-align: center;
    margin: 100px;
    padding: 275px;
}

.intro2 h2 {
    font-size: 60px;
    text-align: center;

}

.p-2 {
    padding: var(--space-2);
}
.m-2 {
    margin: var(--space-2);
}
.shadow-dark {
    box-shadow: var(--shadow-dark);
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/*section {
    display: block;
    unicode-bidi: isolate;
}*/



/*.image_S {
   font-size:30px;
   font-family: Blacker Sans Pro;
}*/

section  .container{
    position: relative;
    width: 50%;
}

.image{
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.container .middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container :hover .image{
    opacity: 0.3;
}

.container :hover .middle{
    opacity: 1;
}

.container .text {
    background-color: #04AA6D;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

footer {
    background-color: #000043;
}

/*.website-footer .summary {
    width: 33%;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}*/

.footer {
   left: 0;
   bottom: 0;
   width: 100%;
   padding: 30px;
   background-color: #000043;
   color: white;
   text-align: center;
    display: block;
    unicode-bidi: isolate;

}

.footer .socialIcons a i{
   color: #fff;
   font-size: 30px;
   text-decoration: none;
   margin: 10px;
   margin-bottom: 25px;
  
}

.footerNav {
    margin-right: 30px 0;
}

.footerNav ul{
    display: flex;
    justify-content: center;
}

.footerNav ul li a{
   color: #fff;
   margin: 30px;
   text-decoration: none;
   font-size: 1.rem;
   
}

.footer .copyright {
    width: 100%;
    text-align: center;
    margin-top: 100px;
    
}

